<ActionBar title="AutoXpress" class="action-bar">
    <!-- <ActionItem tap="onShare"
        ios.systemIcon="9" ios.position="left"
        android.systemIcon="ic_menu_share" android.position="actionBar"></ActionItem> -->
    <ActionItem ios.systemIcon="12" ios.position="right" text="delete" android.systemIcon="ic_menu_share" android.position="actionBar"></ActionItem>
</ActionBar>







<!-- the code below is the originally generated listview that comes with the app scaffold - you can use it if you want -->
<!-- <GridLayout class="page">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>
</GridLayout> -->